In [1]:
from PosterAnalysis import analyse_img_from_url
import pandas as pd
from deepface import DeepFace
from deepface.detectors import FaceDetector
import yaml

with open("config.yml") as yml_file:
    config = yaml.safe_load(yml_file)

In [2]:
bechdel_df = pd.read_json('bechdel_data.json')
imdb_df = pd.read_json('tmdb_data.json')

In [3]:
imdb_df['imdb_id'] = imdb_df['imdb_id'].apply(lambda x: x[2:])

In [4]:
merged_df = pd.merge(bechdel_df,imdb_df,left_on='imdbid', right_on='imdb_id')

In [27]:
merged_df[merged_df['imdbid']=='4794188']

,year,title_x,imdbid,id_x,rating,adult,backdrop_path,belongs_to_collection,budget,genres,...,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,video,vote_average,vote_count
7,2015,Samurai Warrior Queens,4794188,9486,3,False,/4IIzut91TkSjcPYq5tkt9wr4hCt.jpg,None,0,"[{'id': 99, 'name': 'Documentary'}, {'id': 36,...",...,2015-01-09,0,0.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,,Samurai Warrior Queens,False,8.0,1

In [23]:
sample_df

,year,title_x,imdbid,id_x,rating,adult,backdrop_path,belongs_to_collection,budget,genres,...,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,video,vote_average,vote_count
8335,1954,Gojira,0047034,5505,1,False,/tWeQvXUaFoS0IP5anj7pdRsP6xF.jpg,"{'id': 374509, 'name': 'Godzilla (Showa) Colle...",900000,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",...,1954-11-03,2250000,96.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,"Godzilla, a weapon of science, a great battle ...",Godzilla,False,7.6,644
8336,2005,"Devil&#39;s Rejects, The",0395584,3628,3,False,/9OvbJLn7pMDE7bnydHjpqfly8X2.jpg,"{'id': 105625, 'name': 'Firefly Collection', '...",7000000,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",...,2005-07-22,20901859,107.0,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,Hell doesn't want them. Hell doesn't need them...,The Devil's Rejects,False,6.8,1077
8337,2008,Solo Quiero Caminar,1078600,7381,3,False,/4ZVPwSYvgMT0FYw0dMUXwvJsSYL.jpg,"{'id': 847984, 'name': 'Gloria Duque - Colecci...",19000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",...,2008-10-31,0,129.0,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,"Alone they walked, together they killed",Walking Vengeance,False,5.3,19
8338,2009,Le h&eacute;risson,1442519,2439,3,False,/yxtd1hAb8Ui6ppG9CGuIfTDhO0f.jpg,None,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",...,2009-07-01,0,100.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,Let Life In.,The Hedgehog,False,7.3,322
8339,1960,Les yeux sans visage,0053459,656,3,False,/xvmcOdrQU3VgGQFXwo6gVeK2o3a.jpg,None,0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",...,1960-01-11,58656,84.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,Beautiful women were the victims of his FIENDI...,Eyes Without a Face,False,7.6,500

In [6]:
gender_detector = DeepFace.build_model("Gender")
face_detector = FaceDetector.build_model(config["detector_backend"])
age_detector = DeepFace.build_model("Age")
applied_df = sample_df.apply(lambda row: analyse_img_from_url(row['poster_path'], gender_detector=gender_detector, face_detector=face_detector, age_detector=age_detector), axis='columns', result_type='expand')
applied_df.columns = ['nb_women', 'nb_men', 'area_women', 'area_men']

[]
[['Man', 1485.0], ['Man', 3149.0], ['Man', 1530.0]]
[['Man', 115527.0]]
[['Man', 25403.0], ['Woman', 22125.0]]
[]

In [13]:
i=1
merged_df.iloc[i-1:i,:]

,year,title_x,imdbid,id_x,rating,adult,backdrop_path,belongs_to_collection,budget,genres,...,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,video,vote_average,vote_count
0,1984,C.H.U.D.,0087015,9327,2,False,/zY9ahWKd9wVgQ6Rj5iL2zo0UvOt.jpg,"{'id': 257571, 'name': 'C.H.U.D. Collection', ...",1250000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",...,1984-08-31,3412497,97.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They're not staying down there anymore!,C.H.U.D.,False,5.6,190

In [20]:
with open('PosterAnalysis.csv', 'r') as yml_file: 
    dico = pd.read_csv(yml_file)

In [21]:
dico

      imbdid  nb_women  nb_men  area_women  area_men
0      87015         0       0         0.0  0.000000
1      48133         0       2         0.0  0.004752
2      58263         0       1         0.0  0.036885
3     341384         0       1         0.0  0.001584
4      59080         0       3         0.0  0.013003
5    6436726         0       1         0.0  0.063632
6   10919380         0       2         0.0  0.098059
7    4794188         0       3         0.0  0.017742
8      59682         0       2         0.0  0.011094
9      52846         0       0         0.0  0.000000
10     56912         0       7         0.0  0.068397
11    109830         0       1         0.0  0.002837
12     56663         0       1         0.0  0.152597
13    102510         0       1         0.0  0.005891
14    844286         0       8         0.0  0.135389
15  11284280         0       2         0.0  0.490221
16     57546         0       1         0.0  0.012027
17   4157510         0       1         0.0  0.047656
18    108147         0       1         0.0  0.012896
19   1457767         0       0         0.0  0.000000
20    993846         0       4         0.0  0.027097
21    384819         0       1         0.0  0.001963
22    162735         0       7         0.0  0.153907
23    100469         0       0         0.0  0.000000
24    290334         0       3         0.0  0.039736
25   4065552         0       1         0.0  0.011549
26     31679         0       1         0.0  0.005973
27      8844         0       2         0.0  0.084435
28   1396218         0       1         0.0  0.137728
29     82269         0       1         0.0  0.002219
30   7798634         0      13         0.0  0.047437
31   2965466         0       1         0.0  0.120232
32   8359816         0       4         0.0  0.018656
33    160611         0       8         0.0  0.163875
34    981227         0       2         0.0  0.019051
35   7752126         0       1         0.0  0.008021
36   1020543         0       2         0.0  0.014637
37   1433802         0       3         0.0  0.005021
38     99772         0       1         0.0  0.002720
39   1748122         0      15         0.0  0.014984